.about-page {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-left: 50px;
}

.about-page #content {
    max-width: 50%;
}

.about-page h4 {
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    color: #1B1A17;
    margin-top: 100px;
    margin-left: 10px;
    animation: slideInFromRight 1s ease-out forwards;

}

.about-page h5 {
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    color: #1B1A17;
    margin-top: 50px;
    margin-left: 10px;
    animation: slideInFromRight 1.5s ease-out forwards;

}


.about-page p {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #1B1A17;
    margin-top: -40px;
    margin-left: 10px;
}

.about-page #blobContainer {
    z-index: -1;
    position: absolute;
    right: -473px;
    top: -190px;
}

.about-page #blob3 {
    height: 1100px;
}

.about-page #icona {
    position: absolute;
    right: 550px;
    top: 450px;
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
}

/* .about-page:hover #icona {
    opacity: 1;
} */

@media (max-width: 1000px) {
    .about-page {
        overflow: hidden;
    }

    .about-page #blobContainer {
        position: absolute;
        right: -8px;
        top: -484px;
    }

    .about-page #blob3 {
        height: 1000px;
    }

    .about-page #navbar {
        position: relative;
        z-index: 2;
        padding-top: 50px;
    }

    .about-page #icona {
        position: absolute;
        right: 34%;
        margin-top: 245px;
    }


    .about-page h4 {
        font-size: 90px;
        margin-top: 50vw;
        margin-left: 20px;
        margin-right: -432px;
    }

    .about-page h5 {
        font-size: 90px;
        margin-left: 20px;
        margin-right: -432px;
    }

    .about-page p {
        font-size: 60px;
        padding-bottom: 1vw;
        margin-left: 20px;
        margin-right: -432px;
    }
}