.contact-page {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-left: 50px;
}

.contact-page #form {
    max-width: 600px;
    background-color: #FFB534;
    margin: 10% 25%;
    padding: 10px 50px 50px;
    border-radius: 50px;
}


.contact-page #form form div {
    align-items: center;
    margin-bottom: 10px;
}

.contact-page #form h1 {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    font-weight: bold;
    text-align: center;
    color: #1B1A17;
}


.contact-page #form form label {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.contact-page #form form input {
    padding: 20px 20px;
    font-size: 20px;
    width: 100%;
    border: #ffffff;
    border-radius: 50px;
    margin-top: 10px;
    box-sizing: border-box;
}

.contact-page #form form textarea {
    padding: 20px 20px;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    border-radius: 25px;
    resize: vertical;
    border: #ffffff;
    box-sizing: border-box;
}

.contact-page #form form button {
    width: 50%;
    bottom: 119px;
    margin-left: 25%;
    background-color: #1B1A17;
    color: #ffffff;
    /* border: 3px solid #1B1A17; */
    font-size: 20px;
    margin-top: 10px;
}

.contact-page #form form button:hover {
    transform: translateY(-3px);
    background-color: #ffffff;
    color: #1B1A17;
}

.contact-page button {
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    padding: 20px 40px;
    background-color: #1B1A17;
    border-color: #FFB534;
    border: 2px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.2s;
}


@media (max-width: 1000px) {
    @media (max-width: 992px) {
        .contact-page {
            overflow: hidden;
            position: relative;
            min-height: 100vh;
            padding-left: 50px;
            padding-right: 50px; 
            padding-top: 45px;
        }
    
        .contact-page #navbar {
            position: fixed;
            left: 50px; 
            width: 100%; 
            font-size: 30px;
            padding-top: 5px;
        }
    }
    

    .contact-page #form {
        max-width: 859px;
        max-height: 1237px;
        margin: 29px;
        margin-bottom: 440px;
        border-radius: 50px;
        margin-top: 280px;
    }

    .contact-page #form h1 {
        font-size: 80px;
        text-align: center;
        margin-bottom: 20px; 
    }

    .contact-page #form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-page #form form div {
        margin-bottom: 20px;
        width: 100%;
    }

    .contact-page #form form label {
        font-size: 50px;
        font-weight: bold;
        margin-right: 20px;
        text-align: left;
        width: 100%;
    }

    .contact-page #form form input,
    .contact-page #form form textarea {
        padding: 30px;
        width: 100%;
        border: #ffffff;
        border-radius: 25px;
        box-sizing: border-box;
        font-size: 50px;
    }

    .contact-page #form form textarea {
        resize: vertical;
        height: 200px;
    }

    .contact-page #form form button {
        padding: 30px;
        width: 50%;
        font-size: 50px;
        text-align: center;
        background-color: #1B1A17;
        color: #ffffff;
        border: none;
        border-radius: 25px;
        margin: 0 auto; 
    }
}

