.recipes-page {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-left: 50px;
    padding-bottom: 50px;
}


.recipes-page .recipe-title-page {
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    text-align: left;
    margin-left: 10px;
    margin-top: 100px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.recipes-page .image-recipe {
    height: 300px;
    border-radius: 30px;
    position: absolute;
    top: 500px;
    left: 100px;
    animation: slideInFromLeft 1s ease-out forwards;
}

.recipes-page #content div {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 1.9;
    margin-left: 10px;
}

.recipes-page #blob2Container {
    position: absolute;
    right: -40%;
    top: -200px;
}

.recipes-page #blob2 {
    height: 1250px;
}

#content {
    width: 50%;
}

@media (max-width: 1000px) {
    .recipes-page {
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    .recipes-page #navbar {
        position: relative;
        z-index: 2;
        font-size: 30px;
        padding-top: 50px;
    }

    .recipes-page #blob2Container {
        position: absolute;
        right: -8px;
        top: -484px;
        z-index: 1;
    }

    .recipes-page #blob2 {
        height: 1000px;
    }

    .recipes-page .image-recipe {
        height: 30vw;
        max-width: 90%;
        margin: 0 15%;
        border-radius: 5vw;
        margin-top: 29vw;
    }

    .recipes-page .recipe-title-page {
        font-size: 90px;
        padding-top: 120%;
        margin-left: 20px;
        margin-right: -432px;
        padding-bottom: 20px;
    }

    .recipes-page #content div {
        font-size: 60px;
        margin-left: 20px;
        margin-right: -432px;
        margin-bottom: 30%;
    }
}